.new-expense2 {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  .action{
    display: flex;
    align-items: center;
  }

  .new-expense {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  